.card[b-4wymo90ulv] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.field[b-4wymo90ulv] {
    margin-top: 20px;
}

.createbtnbtn[b-4wymo90ulv] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.createbtnbtn:hover[b-4wymo90ulv]{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
.modal[b-4wymo90ulv] {
    display: none; /* Initially hide the modal */
    position: fixed; /* Fixed position to overlay content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    z-index: 9999; /* Ensure it's above other content */
    justify-content: center;
    align-items: center;
}

.modal-content[b-4wymo90ulv] {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-overlay[b-4wymo90ulv] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    z-index: 9999; /* Ensure it's above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content[b-4wymo90ulv] {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px; /* Adjust the width to your desired size */
}
