@using Blazor.Services
@using Blazor.Services.Interfaces
@namespace Login
@inject NavigationManager navMgr
@inject IAuthService authService
@inject IShoppingCartService ShoppingCart

<AuthorizeView>
    <Authorized>
        <p>Logged in.</p>
        <img class="icon me-2" src="img/Logout.png" @onclick="Logout"/>
    </Authorized>
    <NotAuthorized>
        <img class="icon ms-4" src="img/Login.png"  @onclick="Login"/>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void Login()
    {
        navMgr.NavigateTo("/Login");
    }

    private async Task Logout()
    {
        await authService.LogoutAsync();
        await ShoppingCart.Clear();
        navMgr.NavigateTo("/");
    }
}