@inherits LayoutComponentBase
@using ShoppingCart
@using Login
@using Register
@using Blazored.Toast
@using Blazored.Toast.Services
<PageTitle>PC Planet</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row ">
            <ShoppingCartButton/>
            <RegisterButton/>
            <LoginButtons/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts>
    
</BlazoredToasts>