@inherits LayoutComponentBase
@using Login
@using Register
<PageTitle>PC Planet</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row ">
            <RegisterButton />
            <LoginButtons />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>