.item-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.item-table th, .item-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.item-table th {
    background-color: #f2f2f2;
}

.manage, .delete{
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.managecol {
    width: 12%;
    overflow: auto;
}