@page "/AdminViewItems"
@using Blazor.Services.Interfaces
@using Domain.DTOs
@using Domain.Models
@inject IItemService itemService
@using Components


<h3>Manage Items</h3>
@if (items == null)
{
    <p>Loading...</p>
}
else if (!items.Any())
{
    <p>No Items to display</p>
}
else
{
    <table class="item-table">
        <thead>
        <tr>
            <th>Name</th>
            <th >Stock</th>
            <th class = "managecol">Manage</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Stock </td>
                <td>
                    <button class="manage" @onclick="(e) => OpenManage(item.ItemId)">Manage</button>
                    <button class="delete" @onclick="(e) => Delete()">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
}

@if (showModal)
 {
     <Modal ShowModal="showModal">
         <div class="card">
             @if(selectedItem!=null)
             {
                 <h3>@selectedItem.Name</h3>
                 <div class = "form-group field">
                        <div class="field">
                                <label style="text-align: center">Price:</label>
                                <input type="text" @bind="selectedItem.Price" />
                            </div>
                            <div class="field">
                                <label style="text-align: center">Stock:</label>
                                <input type="text" @bind="selectedItem.Stock" />
                            </div>
                     </div>
             }
             @if (!string.IsNullOrEmpty(msg))
             {
                 <label style="color: red">@msg</label>
             }
             
             <button class="btn btn-secondary close-button" @onclick="CloseModal">Close</button>
         </div>
     </Modal>
 } 


@code {
    private IEnumerable<Item>? items;
    private string msg = "";
    private bool showModal = false;
    private Item selectedItem;
    
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            items = await itemService.GetAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task OpenManage(int itemId)
    {
        msg = "";
        try
        {
            Item item = await itemService.GetItemById(itemId);
            
            if (item != null)
            {
                selectedItem = item;
                showModal = true;
            }
            else
            {
                Console.WriteLine($"Item with ID {itemId} not found");
            }
          
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
    private void CloseModal()
    {
        showModal = false;
    }

    private void Delete()
    {
        
    }
    
}