@page "/AdminDashboard"
@using Blazor.Services
<AuthorizeView Roles="admin">
<h3>Choose an action :</h3>
    
    <div class="field">
        <NavLink href="CreateItem" class="btn btn-primary">Create Item</NavLink>
    </div>
    
    <div class="field">
        <NavLink href="AdminViewItems" class="btn btn-primary">Manage Item</NavLink>
    </div>
    
    <div class="field">
        <NavLink href="AdminViewOrders" class="btn btn-primary">Manage Orders</NavLink>
    </div>

</AuthorizeView>



@code {
    
}