@page "/Home"
@using Domain.Models
@using System.Security.Claims
@using Blazor.Services
@using Domain.DTOs
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ICustomerService customerService
<PageTitle>Index</PageTitle>

@if (customer != null && !string.IsNullOrEmpty(customer.UserName))
{
    <h1>Hello, @customer.UserName !</h1>
}
else
{
    <h1>Hello!</h1>
}

Welcome to PC Planet.



@code
{
    private Customer customer; // Ensure customer is initialized to avoid null reference

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private IEnumerable<Claim> userClaims;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            AuthenticationState authState = await AuthState;
            ClaimsPrincipal user = authState.User;
            userClaims = user?.Claims;
            Claim usernameClaim = userClaims?.FirstOrDefault(c => c.Type == ClaimTypes.Name);

            if (usernameClaim != null)
            {
                CustomerLoginDto dto = new CustomerLoginDto(usernameClaim.Value, "");
                customer = await customerService.GetByUsernameAsync(dto);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error in OnInitializedAsync: {e.Message}");
        }

        StateHasChanged();
    }
}