@page "/Login"
@using Blazor.Services
@inject IAuthService authService
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <div class="card">
            <h3>Please login</h3>
            <div class="field">
                <label>User name:</label>
                <input type="text" @bind="userName"/>
            </div>
            <div class="field">
                <label style="text-align: center">Password:</label>
                <input type="password" @bind="password"/>
            </div>
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }
            <div class="field">
                <button class="loginbtn" @onclick="LoginAsync">Log in</button>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string userName;    // Holds the entered username for login
    private string password;    // Holds the entered password for login
    private string errorLabel;  // Displays error messages during login attempts

    // Handles the asynchronous login process.
    private async Task LoginAsync()
    {
        errorLabel = "";  // Reset the error label before attempting login

        try
        {
    // Attempt to login using the provided username and password
            await authService.LoginAsync(userName, password);

    // Navigate to the home page upon successful login
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorLabel = $"Error: {e.Message}";  // Display the error message to the user
        }
    }
    
}