@page "/ShoppingCart"
@using Blazor.Services.Interfaces
@using Blazored.LocalStorage
@using Domain.Models
@inject IShoppingCartService shoppingCartService
@inject ISyncLocalStorageService localStorage
@using Blazored.Toast.Services
@inject IToastService toastService;

<div class="cart-title-container">
    <div class="cart-title">
        <h2>Shopping Cart</h2>
    </div>
    
</div>


@if (cartItems == null || cartItems.Count <= 0)
    {
        <span>You have no items in your cart.</span>
    }
    else
    {
        <div>
            @foreach (var item in cartItems)
            {
                <div class="item-container">
                    <div class="item-name">
                        <h5>@item.Name</h5>
                        <span>@item.Description</span><br />
                        
                        <button class="btn-delete" @onclick="@(() => DeleteItem(item))">Delete</button>
                    </div>
                    <div class="item-price">$@(item.Price)</div>
                </div>
            }
            <div class="item-price">
                Total (@cartItems.Count): $@cartItems.Sum(item => item.Price)
            </div>
             <button class="order-button">Order</button>
        </div>
    }
@code {
    List<Item> cartItems = new List<Item>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            cartItems = await shoppingCartService.GetAllItems();
            StateHasChanged();
        }
    }

    private async Task DeleteItem(Item item)
    {
        await shoppingCartService.DeleteItem(item);
        cartItems = await shoppingCartService.GetAllItems();
        toastService.ShowSuccess("Item with name :" + item.Name + " has been deleted");
    }

    

}